In [97]:
import pandas as pd
from sqlalchemy import create_engine
from config import pwd

### Store CSV into DataFrame

In [63]:
csv_file = "Resources/allpovu.csv"
data_df = pd.read_csv(csv_file)
data_df.head()

,Table with column headers in rows 3 and 4,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 74,Unnamed: 75,Unnamed: 76,Unnamed: 77,Unnamed: 78,Unnamed: 79,Unnamed: 80,Unnamed: 81,Unnamed: 82,Unnamed: 83
0,Table: Estimated Population in Poverty Univer...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,July 2017 ACS-Like Poverty Universe for 2017 E...,NaN,NaN,NaN,July 2016 ACS-Like Poverty Universe for 2016 E...,NaN,...,NaN,NaN,July 2000 CPS-Like Poverty Universe for IY 199...,NaN,NaN,NaN,July 1999 CPS-Like Poverty Universe for IY 199...,NaN,NaN,NaN
2,State FIPS code,County FIPS code,Name,State Postal Code,"Poverty Universe, All Ages","Poverty Universe, Age 5-17 related","Poverty Universe, Age 0-17","Poverty Universe, Age 0-4","Poverty Universe, All Ages","Poverty Universe, Age 5-17 related",...,"Poverty Universe, Age 0-17","Poverty Universe, Age 0-4","Poverty Universe, All Ages","Poverty Universe, Age 5-17 related","Poverty Universe, Age 0-17","Poverty Universe, Age 0-4","Poverty Universe, All Ages","Poverty Universe, Age 5-17 related","Poverty Universe, Age 0-17","Poverty Universe, Age 0-4"
3,0,0,United States,US,"317,741,588","52,669,201","72,452,925","19,457,844","315,165,470","52,644,648",...,"71,741,141","19,181,906",276207757,51642359,71684956,18968750,271059449,51060953,71338364,19382484
4,1,0,Alabama,AL,"4,752,519","790,771","1,079,561","285,282","4,741,355","791,471",...,"1,104,080","296,196",4368014,804291,1120718,293558,4348444,789510,1088427,295264

### Create new data with select columns

In [64]:
new_header = data_df.iloc[2] #grab the first row for the header
data_df.columns = new_header
data_df.head()

2,State FIPS code,County FIPS code,Name,State Postal Code,"Poverty Universe, All Ages","Poverty Universe, Age 5-17 related","Poverty Universe, Age 0-17","Poverty Universe, Age 0-4","Poverty Universe, All Ages","Poverty Universe, Age 5-17 related",...,"Poverty Universe, Age 0-17","Poverty Universe, Age 0-4","Poverty Universe, All Ages","Poverty Universe, Age 5-17 related","Poverty Universe, Age 0-17","Poverty Universe, Age 0-4","Poverty Universe, All Ages","Poverty Universe, Age 5-17 related","Poverty Universe, Age 0-17","Poverty Universe, Age 0-4"
0,Table: Estimated Population in Poverty Univer...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,July 2017 ACS-Like Poverty Universe for 2017 E...,NaN,NaN,NaN,July 2016 ACS-Like Poverty Universe for 2016 E...,NaN,...,NaN,NaN,July 2000 CPS-Like Poverty Universe for IY 199...,NaN,NaN,NaN,July 1999 CPS-Like Poverty Universe for IY 199...,NaN,NaN,NaN
2,State FIPS code,County FIPS code,Name,State Postal Code,"Poverty Universe, All Ages","Poverty Universe, Age 5-17 related","Poverty Universe, Age 0-17","Poverty Universe, Age 0-4","Poverty Universe, All Ages","Poverty Universe, Age 5-17 related",...,"Poverty Universe, Age 0-17","Poverty Universe, Age 0-4","Poverty Universe, All Ages","Poverty Universe, Age 5-17 related","Poverty Universe, Age 0-17","Poverty Universe, Age 0-4","Poverty Universe, All Ages","Poverty Universe, Age 5-17 related","Poverty Universe, Age 0-17","Poverty Universe, Age 0-4"
3,0,0,United States,US,"317,741,588","52,669,201","72,452,925","19,457,844","315,165,470","52,644,648",...,"71,741,141","19,181,906",276207757,51642359,71684956,18968750,271059449,51060953,71338364,19382484
4,1,0,Alabama,AL,"4,752,519","790,771","1,079,561","285,282","4,741,355","791,471",...,"1,104,080","296,196",4368014,804291,1120718,293558,4348444,789510,1088427,295264

In [65]:
poverty_data_df = data_df[4:]
poverty_data_df

2,State FIPS code,County FIPS code,Name,State Postal Code,"Poverty Universe, All Ages","Poverty Universe, Age 5-17 related","Poverty Universe, Age 0-17","Poverty Universe, Age 0-4","Poverty Universe, All Ages","Poverty Universe, Age 5-17 related",...,"Poverty Universe, Age 0-17","Poverty Universe, Age 0-4","Poverty Universe, All Ages","Poverty Universe, Age 5-17 related","Poverty Universe, Age 0-17","Poverty Universe, Age 0-4","Poverty Universe, All Ages","Poverty Universe, Age 5-17 related","Poverty Universe, Age 0-17","Poverty Universe, Age 0-4"
4,1,0,Alabama,AL,"4,752,519","790,771","1,079,561","285,282","4,741,355","791,471",...,"1,104,080","296,196",4368014,804291,1120718,293558,4348444,789510,1088427,295264
5,1,1,Autauga County,AL,"55,021","9,911","13,159",NaN,"54,939","10,232",...,"12,377",NaN,43711,9245,12507,NaN,43524,8856,12148,NaN
6,1,3,Baldwin County,AL,"209,922","34,058","45,790",NaN,"205,842","33,129",...,"34,503",NaN,139273,25048,34302,NaN,136585,24609,33859,NaN
7,1,5,Barbour County,AL,"22,224","3,901","5,180",NaN,"22,713","4,083",...,"7,148",NaN,26480,5422,7341,NaN,25482,5138,6966,NaN
8,1,7,Bibb County,AL,"20,434","3,252","4,552",NaN,"20,372","3,329",...,"5,196",NaN,19906,3723,5271,NaN,19620,4020,5395,NaN
9,1,9,Blount County,AL,"57,452","9,976","13,391",NaN,"57,155","9,904",...,"13,010",NaN,50821,9151,12919,NaN,47807,8459,11702,NaN
10,1,11,Bullock County,AL,"8,597","1,493","2,103",NaN,"8,728","1,582",...,"2,887",NaN,10259,2262,3064,NaN,10383,2282,3182,NaN
11,1,13,Butler County,AL,"19,471","3,298","4,458",NaN,"19,645","3,466",...,"5,483",NaN,21258,4280,5749,NaN,21650,4656,6221,NaN
12,1,15,Calhoun County,AL,"111,883","18,098","24,510",NaN,"111,768","18,201",...,"25,458",NaN,110699,18879,26247,NaN,114285,20479,27816,NaN
13,1,17,Chambers County,AL,"33,242","5,035","6,996",NaN,"33,378","5,043",...,"8,819",NaN,36287,6419,9003,NaN,36639,6755,9065,NaN
14,1,19,Cherokee County,AL,"25,518","3,846","5,042",NaN,"25,389","3,871",...,"5,273",NaN,23787,3793,5336,NaN,22188,3775,5005,NaN
15,1,21,Chilton County,AL,"43,598","7,666","10,362",NaN,"43,479","7,657",...,"10,057",NaN,39456,7179,10105,NaN,37883,7177,9738,NaN
16,1,23,Choctaw County,AL,"12,792","1,886","2,578",NaN,"12,843","1,955",...,"3,949",NaN,15880,2974,4156,NaN,15758,3248,4288,NaN
17,1,25,Clarke County,AL,"23,787","3,893","5,228",NaN,"24,099","3,931",...,"7,630",NaN,27697,5628,7854,NaN,28942,6221,8193,NaN
18,1,27,Clay County,AL,"13,086","2,039","2,721",NaN,"13,212","2,051",...,"3,300",NaN,14092,2453,3405,NaN,14006,2470,3296,NaN
19,1,29,Cleburne County,AL,"14,675","2,535","3,361",NaN,"14,700","2,512",...,"3,387",NaN,14097,2499,3434,NaN,14648,2683,3663,NaN
20,1,31,Coffee County,AL,"51,206","8,921","12,144",NaN,"50,513","8,911",...,"10,547",NaN,43113,7841,10764,NaN,42263,7390,10186,NaN
21,1,33,Colbert County,AL,"53,907","8,211","11,285",NaN,"53,633","8,327",...,"12,789",NaN,54765,9454,13067,NaN,53044,8744,12042,NaN
22,1,35,Conecuh County,AL,"12,387","1,876","2,585",NaN,"12,316","1,922",...,"3,484",NaN,14076,2702,3641,NaN,13886,2779,3701,NaN
23,1,37,Coosa County,AL,"10,478","1,282","1,741",NaN,"10,305","1,344",...,"2,754",NaN,11871,2078,2888,NaN,11464,2004,2790,NaN
24,1,39,Covington County,AL,"36,490","5,781","7,971",NaN,"36,863","5,952",...,"8,563",NaN,37387,6494,8869,NaN,37754,6720,9112,NaN
25,1,41,Crenshaw County,AL,"13,695","2,365","3,157",NaN,"13,739","2,375",...,"3,288",NaN,13577,2502,3373,NaN,13689,2609,3498,NaN
26,1,43,Cullman County,AL,"81,547","13,259","18,222",NaN,"81,334","13,248",...,"18,316",NaN,77003,13368,18697,NaN,76066,13361,18363,NaN
27,1,45,Dale County,AL,"48,173","7,996","11,211",NaN,"48,198","7,984",...,"12,992",NaN,47772,9138,13071,NaN,48245,8938,13054,NaN
28,1,47,Dallas County,AL,"38,660","7,041","9,397",NaN,"39,456","7,277",...,"12,898",NaN,46192,9607,13242,NaN,46693,10177,13731,NaN
29,1,49,DeKalb County,AL,"70,728","13,083","17,277",NaN,"70,023","12,908",...,"15,906",NaN,64186,11194,15894,NaN,59465,10888,14504,NaN
30,1,51,Elmore County,AL,"76,290","13,363","18,014",NaN,"76,343","13,446",...,"16,964",NaN,60883,12257,16922,NaN,60443,11818,16137,NaN
31,1,53,Escambia County,AL,"34,184","6,022","8,194",NaN,"34,364","6,049",...,"9,066",NaN,36738,6693,9255,NaN,35416,6827,9119,NaN
32,1,55,Etowah County,AL,"100,626","15,999","21,804",NaN,"100,453","16,224",...,"23,939",NaN,102444,17249,24404,NaN,104016,18288,24372,NaN
33,1,57,Fayette County,AL,"16,206","2,534","3,438",NaN,"16,288","2,554",...,"4,254",NaN,18302,3213,4423,NaN,18245,3366,4458,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3174,55,131,Washington County,WI,"133,810","22,380","29,535",NaN,"133,015","22,597",...,"30,705",NaN,117640,22928,31386,NaN,117146,24109,32378,NaN
3175,55,133,Waukesha County,WI,"395,546","65,192","85,838",NaN,"393,388","65,468",...,"92,643",NaN,359456,70278,94803,NaN,361461,70457,93980,NaN
3176,55,135,Waupaca County,WI,"49,590","7,555","10,117",NaN,"49,881","7,689",...,"12,764",NaN,50424,9773,13122,NaN,50094,10226,13708,NaN
3177,55,137,Waushara County,WI,"23,070","3,220","4,408",NaN,"22,868","3,206",...,"5,242",NaN,23108,4131,5403,NaN,22123,4025,5364,NaN
3178,55,139,Winnebago County,WI,"162,497","24,893","34,288",NaN,"161,975","25,127",...,"36,456",NaN,150525,27219,37182,NaN,147215,26050,36284,NaN
3179,55,141,Wood County,WI,"72,269","11,273","15,434",NaN,"72,256","11,357",...,"18,594",NaN,75450,14416,19373,NaN,76899,15609,21038,NaN
3180,56,0,Wyoming,WY,"565,272","97,323","133,797","35,992","571,196","97,941",...,"122,420","30,072",483116,91761,126214,30443,477428,92700,128085,30552
3181,56,1,Albany County,WY,"36,320","4,295","6,167",NaN,"36,022","4,219",...,"5,649",NaN,29885,4013,5815,NaN,27245,3690,5371,NaN
3182,56,3,Big Horn County,WY,"11,709","2,254","2,990",NaN,"11,810","2,294",...,"3,090",NaN,11297,2366,3253,NaN,11262,2269,3074,NaN
3183,56,5,Campbell County,WY,"45,606","9,065","12,507",NaN,"48,154","9,574",...,"10,180",NaN,33679,7530,10287,NaN,32978,7857,10754,NaN
3184,56,7,Carbon County,WY,"14,439","2,553","3,513",NaN,"14,752","2,663",...,"3,508",NaN,14718,2696,3695,NaN,14667,3031,4053,NaN
3185,56,9,Converse County,WY,"13,690","2,484","3,418",NaN,"14,072","2,522",...,"3,237",NaN,12008,2517,3374,NaN,12476,2675,3624,NaN
3186,56,11,Crook County,WY,"7,356","1,271","1,815",NaN,"7,412","1,276",...,"1,425",NaN,5820,1197,1548,NaN,5820,1181,1620,NaN
3187,56,13,Fremont County,WY,"38,859","7,198","9,961",NaN,"39,287","7,188",...,"9,339",NaN,35257,7052,9656,NaN,36131,7521,10290,NaN
3188,56,15,Goshen County,WY,"12,175","1,889","2,595",NaN,"12,177","1,906",...,"2,834",NaN,12181,2132,2946,NaN,12623,2296,3122,NaN
3189,56,17,Hot Springs County,WY,"4,605",720,966,NaN,"4,589",684,...,999,NaN,4765,784,1057,NaN,4422,813,1034,NaN
3190,56,19,Johnson County,WY,"8,379","1,430","1,832",NaN,"8,390","1,391",...,"1,605",NaN,7043,1268,1684,NaN,6815,1171,1577,NaN
3191,56,21,Laramie County,WY,"96,244","16,316","22,543",NaN,"96,077","16,273",...,"20,617",NaN,78892,14669,20590,NaN,78835,13496,19490,NaN
3192,56,23,Lincoln County,WY,"19,160","3,806","5,132",NaN,"19,010","3,804",...,"4,247",NaN,14551,3333,4435,NaN,14198,3572,4793,NaN
3193,56,25,Natrona County,WY,"77,704","13,444","18,849",NaN,"79,156","13,546",...,"16,536",NaN,65427,12091,16848,NaN,63153,11477,16046,NaN
3194,56,27,Niobrara County,WY,"2,163",273,410,NaN,"2,228",322,...,502,NaN,2318,407,536,NaN,2571,440,584,NaN
3195,56,29,Park County,WY,"28,756","4,445","6,048",NaN,"28,588","4,297",...,"5,924",NaN,25133,4562,6185,NaN,25196,4584,6349,NaN
3196,56,31,Platte County,WY,"8,453","1,251","1,696",NaN,"8,572","1,249",...,"2,092",NaN,8760,1685,2205,NaN,8699,1603,2193,NaN
3197,56,33,Sheridan County,WY,"29,329","4,701","6,359",NaN,"29,310","4,570",...,"5,913",NaN,26000,4552,6136,NaN,24901,4446,5917,NaN
3198,56,35,Sublette County,WY,"9,736","1,611","2,204",NaN,"9,706","1,668",...,"1,452",NaN,5876,1112,1506,NaN,5791,1038,1443,NaN
3199,56,37,Sweetwater County,WY,"42,690","8,349","11,302",NaN,"43,320","8,529",...,"10,009",NaN,37170,7784,10656,NaN,39688,9049,12244,NaN
3200,56,39,Teton County,WY,"23,080","3,154","4,316",NaN,"23,012","3,085",...,"3,545",NaN,18235,2494,3554,NaN,14750,2110,3177,NaN
3201,56,41,Uinta County,WY,"20,328","4,372","5,913",NaN,"20,590","4,384",...,"6,200",NaN,19525,4722,6521,NaN,20389,5482,7455,NaN
3202,56,43,Washakie County,WY,"7,916","1,414","1,852",NaN,"8,088","1,420",...,"2,057",NaN,8155,1620,2164,NaN,8472,1651,2231,NaN
3203,56,45,Weston County,WY,"6,573","1,028","1,410",NaN,"6,872","1,078",...,"1,461",NaN,6420,1176,1566,NaN,6346,1245,1644,NaN

In [66]:
poverty_data_df = poverty_data_df.iloc[:, 0:8] # first seven columns of data frame with all rows
poverty_data_df

2,State FIPS code,County FIPS code,Name,State Postal Code,"Poverty Universe, All Ages","Poverty Universe, Age 5-17 related","Poverty Universe, Age 0-17","Poverty Universe, Age 0-4"
4,1,0,Alabama,AL,"4,752,519","790,771","1,079,561","285,282"
5,1,1,Autauga County,AL,"55,021","9,911","13,159",NaN
6,1,3,Baldwin County,AL,"209,922","34,058","45,790",NaN
7,1,5,Barbour County,AL,"22,224","3,901","5,180",NaN
8,1,7,Bibb County,AL,"20,434","3,252","4,552",NaN
9,1,9,Blount County,AL,"57,452","9,976","13,391",NaN
10,1,11,Bullock County,AL,"8,597","1,493","2,103",NaN
11,1,13,Butler County,AL,"19,471","3,298","4,458",NaN
12,1,15,Calhoun County,AL,"111,883","18,098","24,510",NaN
13,1,17,Chambers County,AL,"33,242","5,035","6,996",NaN
14,1,19,Cherokee County,AL,"25,518","3,846","5,042",NaN
15,1,21,Chilton County,AL,"43,598","7,666","10,362",NaN
16,1,23,Choctaw County,AL,"12,792","1,886","2,578",NaN
17,1,25,Clarke County,AL,"23,787","3,893","5,228",NaN
18,1,27,Clay County,AL,"13,086","2,039","2,721",NaN
19,1,29,Cleburne County,AL,"14,675","2,535","3,361",NaN
20,1,31,Coffee County,AL,"51,206","8,921","12,144",NaN
21,1,33,Colbert County,AL,"53,907","8,211","11,285",NaN
22,1,35,Conecuh County,AL,"12,387","1,876","2,585",NaN
23,1,37,Coosa County,AL,"10,478","1,282","1,741",NaN
24,1,39,Covington County,AL,"36,490","5,781","7,971",NaN
25,1,41,Crenshaw County,AL,"13,695","2,365","3,157",NaN
26,1,43,Cullman County,AL,"81,547","13,259","18,222",NaN
27,1,45,Dale County,AL,"48,173","7,996","11,211",NaN
28,1,47,Dallas County,AL,"38,660","7,041","9,397",NaN
29,1,49,DeKalb County,AL,"70,728","13,083","17,277",NaN
30,1,51,Elmore County,AL,"76,290","13,363","18,014",NaN
31,1,53,Escambia County,AL,"34,184","6,022","8,194",NaN
32,1,55,Etowah County,AL,"100,626","15,999","21,804",NaN
33,1,57,Fayette County,AL,"16,206","2,534","3,438",NaN
...,...,...,...,...,...,...,...,...
3174,55,131,Washington County,WI,"133,810","22,380","29,535",NaN
3175,55,133,Waukesha County,WI,"395,546","65,192","85,838",NaN
3176,55,135,Waupaca County,WI,"49,590","7,555","10,117",NaN
3177,55,137,Waushara County,WI,"23,070","3,220","4,408",NaN
3178,55,139,Winnebago County,WI,"162,497","24,893","34,288",NaN
3179,55,141,Wood County,WI,"72,269","11,273","15,434",NaN
3180,56,0,Wyoming,WY,"565,272","97,323","133,797","35,992"
3181,56,1,Albany County,WY,"36,320","4,295","6,167",NaN
3182,56,3,Big Horn County,WY,"11,709","2,254","2,990",NaN
3183,56,5,Campbell County,WY,"45,606","9,065","12,507",NaN
3184,56,7,Carbon County,WY,"14,439","2,553","3,513",NaN
3185,56,9,Converse County,WY,"13,690","2,484","3,418",NaN
3186,56,11,Crook County,WY,"7,356","1,271","1,815",NaN
3187,56,13,Fremont County,WY,"38,859","7,198","9,961",NaN
3188,56,15,Goshen County,WY,"12,175","1,889","2,595",NaN
3189,56,17,Hot Springs County,WY,"4,605",720,966,NaN
3190,56,19,Johnson County,WY,"8,379","1,430","1,832",NaN
3191,56,21,Laramie County,WY,"96,244","16,316","22,543",NaN
3192,56,23,Lincoln County,WY,"19,160","3,806","5,132",NaN
3193,56,25,Natrona County,WY,"77,704","13,444","18,849",NaN
3194,56,27,Niobrara County,WY,"2,163",273,410,NaN
3195,56,29,Park County,WY,"28,756","4,445","6,048",NaN
3196,56,31,Platte County,WY,"8,453","1,251","1,696",NaN
3197,56,33,Sheridan County,WY,"29,329","4,701","6,359",NaN
3198,56,35,Sublette County,WY,"9,736","1,611","2,204",NaN
3199,56,37,Sweetwater County,WY,"42,690","8,349","11,302",NaN
3200,56,39,Teton County,WY,"23,080","3,154","4,316",NaN
3201,56,41,Uinta County,WY,"20,328","4,372","5,913",NaN
3202,56,43,Washakie County,WY,"7,916","1,414","1,852",NaN
3203,56,45,Weston County,WY,"6,573","1,028","1,410",NaN

In [67]:
poverty_data_df

2,State FIPS code,County FIPS code,Name,State Postal Code,"Poverty Universe, All Ages","Poverty Universe, Age 5-17 related","Poverty Universe, Age 0-17","Poverty Universe, Age 0-4"
4,1,0,Alabama,AL,"4,752,519","790,771","1,079,561","285,282"
5,1,1,Autauga County,AL,"55,021","9,911","13,159",NaN
6,1,3,Baldwin County,AL,"209,922","34,058","45,790",NaN
7,1,5,Barbour County,AL,"22,224","3,901","5,180",NaN
8,1,7,Bibb County,AL,"20,434","3,252","4,552",NaN
9,1,9,Blount County,AL,"57,452","9,976","13,391",NaN
10,1,11,Bullock County,AL,"8,597","1,493","2,103",NaN
11,1,13,Butler County,AL,"19,471","3,298","4,458",NaN
12,1,15,Calhoun County,AL,"111,883","18,098","24,510",NaN
13,1,17,Chambers County,AL,"33,242","5,035","6,996",NaN
14,1,19,Cherokee County,AL,"25,518","3,846","5,042",NaN
15,1,21,Chilton County,AL,"43,598","7,666","10,362",NaN
16,1,23,Choctaw County,AL,"12,792","1,886","2,578",NaN
17,1,25,Clarke County,AL,"23,787","3,893","5,228",NaN
18,1,27,Clay County,AL,"13,086","2,039","2,721",NaN
19,1,29,Cleburne County,AL,"14,675","2,535","3,361",NaN
20,1,31,Coffee County,AL,"51,206","8,921","12,144",NaN
21,1,33,Colbert County,AL,"53,907","8,211","11,285",NaN
22,1,35,Conecuh County,AL,"12,387","1,876","2,585",NaN
23,1,37,Coosa County,AL,"10,478","1,282","1,741",NaN
24,1,39,Covington County,AL,"36,490","5,781","7,971",NaN
25,1,41,Crenshaw County,AL,"13,695","2,365","3,157",NaN
26,1,43,Cullman County,AL,"81,547","13,259","18,222",NaN
27,1,45,Dale County,AL,"48,173","7,996","11,211",NaN
28,1,47,Dallas County,AL,"38,660","7,041","9,397",NaN
29,1,49,DeKalb County,AL,"70,728","13,083","17,277",NaN
30,1,51,Elmore County,AL,"76,290","13,363","18,014",NaN
31,1,53,Escambia County,AL,"34,184","6,022","8,194",NaN
32,1,55,Etowah County,AL,"100,626","15,999","21,804",NaN
33,1,57,Fayette County,AL,"16,206","2,534","3,438",NaN
...,...,...,...,...,...,...,...,...
3174,55,131,Washington County,WI,"133,810","22,380","29,535",NaN
3175,55,133,Waukesha County,WI,"395,546","65,192","85,838",NaN
3176,55,135,Waupaca County,WI,"49,590","7,555","10,117",NaN
3177,55,137,Waushara County,WI,"23,070","3,220","4,408",NaN
3178,55,139,Winnebago County,WI,"162,497","24,893","34,288",NaN
3179,55,141,Wood County,WI,"72,269","11,273","15,434",NaN
3180,56,0,Wyoming,WY,"565,272","97,323","133,797","35,992"
3181,56,1,Albany County,WY,"36,320","4,295","6,167",NaN
3182,56,3,Big Horn County,WY,"11,709","2,254","2,990",NaN
3183,56,5,Campbell County,WY,"45,606","9,065","12,507",NaN
3184,56,7,Carbon County,WY,"14,439","2,553","3,513",NaN
3185,56,9,Converse County,WY,"13,690","2,484","3,418",NaN
3186,56,11,Crook County,WY,"7,356","1,271","1,815",NaN
3187,56,13,Fremont County,WY,"38,859","7,198","9,961",NaN
3188,56,15,Goshen County,WY,"12,175","1,889","2,595",NaN
3189,56,17,Hot Springs County,WY,"4,605",720,966,NaN
3190,56,19,Johnson County,WY,"8,379","1,430","1,832",NaN
3191,56,21,Laramie County,WY,"96,244","16,316","22,543",NaN
3192,56,23,Lincoln County,WY,"19,160","3,806","5,132",NaN
3193,56,25,Natrona County,WY,"77,704","13,444","18,849",NaN
3194,56,27,Niobrara County,WY,"2,163",273,410,NaN
3195,56,29,Park County,WY,"28,756","4,445","6,048",NaN
3196,56,31,Platte County,WY,"8,453","1,251","1,696",NaN
3197,56,33,Sheridan County,WY,"29,329","4,701","6,359",NaN
3198,56,35,Sublette County,WY,"9,736","1,611","2,204",NaN
3199,56,37,Sweetwater County,WY,"42,690","8,349","11,302",NaN
3200,56,39,Teton County,WY,"23,080","3,154","4,316",NaN
3201,56,41,Uinta County,WY,"20,328","4,372","5,913",NaN
3202,56,43,Washakie County,WY,"7,916","1,414","1,852",NaN
3203,56,45,Weston County,WY,"6,573","1,028","1,410",NaN

In [86]:
poverty_df = poverty_data_df[['State FIPS code', 'County FIPS code', 'Name','State Postal Code','Poverty Universe, All Ages']].copy()
poverty_df = poverty_df.loc[poverty_df['County FIPS code'] != '0']
poverty_df.head()

2,State FIPS code,County FIPS code,Name,State Postal Code,"Poverty Universe, All Ages"
5,1,1,Autauga County,AL,"55,021"
6,1,3,Baldwin County,AL,"209,922"
7,1,5,Barbour County,AL,"22,224"
8,1,7,Bibb County,AL,"20,434"
9,1,9,Blount County,AL,"57,452"

In [90]:
def remove_county(county):
    return county.split(" ")[0]

poverty_df['Name'] = poverty_df['Name'].apply(remove_county)
poverty_df

2,State FIPS code,County FIPS code,Name,State Postal Code,"Poverty Universe, All Ages"
5,1,1,Autauga,AL,"55,021"
6,1,3,Baldwin,AL,"209,922"
7,1,5,Barbour,AL,"22,224"
8,1,7,Bibb,AL,"20,434"
9,1,9,Blount,AL,"57,452"
10,1,11,Bullock,AL,"8,597"
11,1,13,Butler,AL,"19,471"
12,1,15,Calhoun,AL,"111,883"
13,1,17,Chambers,AL,"33,242"
14,1,19,Cherokee,AL,"25,518"
15,1,21,Chilton,AL,"43,598"
16,1,23,Choctaw,AL,"12,792"
17,1,25,Clarke,AL,"23,787"
18,1,27,Clay,AL,"13,086"
19,1,29,Cleburne,AL,"14,675"
20,1,31,Coffee,AL,"51,206"
21,1,33,Colbert,AL,"53,907"
22,1,35,Conecuh,AL,"12,387"
23,1,37,Coosa,AL,"10,478"
24,1,39,Covington,AL,"36,490"
25,1,41,Crenshaw,AL,"13,695"
26,1,43,Cullman,AL,"81,547"
27,1,45,Dale,AL,"48,173"
28,1,47,Dallas,AL,"38,660"
29,1,49,DeKalb,AL,"70,728"
30,1,51,Elmore,AL,"76,290"
31,1,53,Escambia,AL,"34,184"
32,1,55,Etowah,AL,"100,626"
33,1,57,Fayette,AL,"16,206"
34,1,59,Franklin,AL,"31,132"
...,...,...,...,...,...
3173,55,129,Washburn,WI,"15,522"
3174,55,131,Washington,WI,"133,810"
3175,55,133,Waukesha,WI,"395,546"
3176,55,135,Waupaca,WI,"49,590"
3177,55,137,Waushara,WI,"23,070"
3178,55,139,Winnebago,WI,"162,497"
3179,55,141,Wood,WI,"72,269"
3181,56,1,Albany,WY,"36,320"
3182,56,3,Big,WY,"11,709"
3183,56,5,Campbell,WY,"45,606"
3184,56,7,Carbon,WY,"14,439"
3185,56,9,Converse,WY,"13,690"
3186,56,11,Crook,WY,"7,356"
3187,56,13,Fremont,WY,"38,859"
3188,56,15,Goshen,WY,"12,175"
3189,56,17,Hot,WY,"4,605"
3190,56,19,Johnson,WY,"8,379"
3191,56,21,Laramie,WY,"96,244"
3192,56,23,Lincoln,WY,"19,160"
3193,56,25,Natrona,WY,"77,704"
3194,56,27,Niobrara,WY,"2,163"
3195,56,29,Park,WY,"28,756"
3196,56,31,Platte,WY,"8,453"
3197,56,33,Sheridan,WY,"29,329"
3198,56,35,Sublette,WY,"9,736"
3199,56,37,Sweetwater,WY,"42,690"
3200,56,39,Teton,WY,"23,080"
3201,56,41,Uinta,WY,"20,328"
3202,56,43,Washakie,WY,"7,916"
3203,56,45,Weston,WY,"6,573"

### Connect to local database

In [98]:
rds_connection_string = f"postgres:{pwd}@localhost:5432/poverty_db"
engine = create_engine(f'postgresql://{rds_connection_string}')

### Check for tables

In [99]:
engine.table_names()

['poverty', 'poverty_db']

### Use pandas to load csv converted DataFrame into database

In [10]:
new_customer_data_df.to_sql(name='customer_name', con=engine, if_exists='append', index=False)

### Use pandas to load json converted DataFrame into database

In [11]:
new_customer_location_df.to_sql(name='customer_location', con=engine, if_exists='append', index=False)

### Confirm data has been added by querying the customer_name table
* NOTE: can also check using pgAdmin

In [12]:
pd.read_sql_query('select * from customer_name', con=engine).head()

   id first_name last_name
0   1    Benetta   Cancott
1   2     Lilyan    Cherry
2   3    Ezekiel   Benasik
3   4    Kennedy     Atlay
4   5    Sanford    Salmen

### Confirm data has been added by querying the customer_location table

In [13]:
pd.read_sql_query('select * from customer_location', con=engine).head()

   id                address  us_state
0   1  043 Mockingbird Place   Indiana
1   2       4 Prentice Point   Indiana
2   3      46 Derek Junction     Texas
3   4  11966 Old Shore Place  Missouri
4   5     5 Evergreen Circle  New York